* {
  font-family: "DM sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #f5f5dc;
}
body::-webkit-scrollbar {
  display: none;
}

.sidenav{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1;
  right: -100%;
  transition: 100ms; display: flex; flex-direction: column; justify-content: center; align-items: center;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

nav {
  width: 100%;
  padding: 35px 5% 30px 5%;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
}

nav .logo {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 3.5px;
  font-family: "inter", sans-serif;
  padding: 5px 5px;
  transition: 300ms;
}

nav .logo:hover {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 5px;
}

nav .sp1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(143, 143, 143, 0.1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  overflow: hidden;
  padding: 10px 15px;
  margin-left: auto;
}

nav .sp1 a {
  color: white;
  text-transform: capitalize;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 230ms;
  border-radius: 30px;
  margin: 0 6px;
  white-space: nowrap;
}

nav .sp1 a:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

nav .sp1 .active {
  background-color: #ffff;
  background-color: rgb(0, 211, 0);
  color: #ffff;
  font-size: 16px;
  letter-spacing: 0.6px;
  margin: 0 15px;
  box-shadow: 0 0 8px 0 green;
  padding: 6px 14px;
}

nav .sp1 .active:hover {
  background-color: rgb(255, 255, 255, 0.96);
  color: black;
}

nav .sp1 .n {
  display: none;
}

nav .connectcc {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .connect {
  background-color: rgb(0, 211, 0);
  padding: 8px 20px;
  color: white;
  font-size: 18px;
  border-radius: 30px;
  font-weight: 500;
  box-shadow: 0px 0px 10px 6px green;
  /* border: solid white 3px; */
  transition: 250ms;
  white-space: nowrap;
}

nav .connect:hover {
  background-color: rgb(255, 255, 255, 0.96);
  color: black;
  box-shadow: 0px 0px 8px 3px green;
}

nav .i {
  display: none;
}

header .section1 {
  width: 100%;
  /* height: 80vh; */
  background-color: #1f1f1f;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  padding: 3% 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -5px;
  overflow: hidden;
}

header .section1 h1 {
  font-size: 58px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  width: 100%;
}

header .section1 h3 {
  width: 50%;
  text-align: center;
  color: white;
  margin-top: 15px;
  letter-spacing: 1px;
  line-height: 30px;
}

header .section1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 211, 0);
  box-shadow: 0px 0px 8px 6px rgb(1, 80, 1);
  color: white;
  font-size: 17px;
  border-radius: 30px;
  padding: 12px 25px;
  margin-top: 4%;
  font-weight: 800;
  transition: 300ms;
}

header .section1 a i {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 900;
}

header .section1 a:hover {
  background-color: rgb(255, 255, 255, 0.96);
  color: black;
  box-shadow: 0px 0px 8px 5px rgb(255, 255, 255, 0.1);
}

.images {
  margin-top: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 30vh; */
  /* overflow-y: hidden; */
}

.images .img {
  width: 300px;
  height: 600px;
  border: solid black 10px;
  border-radius: 50px;
  background-color: black;
  /* margin-bottom: -30%; */
  background-size: cover;
  background-position: center;
  /* margin: 0 5px; */
  margin-bottom: -30%;
  box-shadow: 0 0 10px 16px rgb(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.images .img .s {
  width: 40%;
  height: 30px;
  border-radius: 30px;
  background-color: black;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 6%;
}

.images .img .s .ss {
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 100%;
  padding: 6px;
}

.images .img1 {
  background-image: url(screenshot3.png);
  margin-bottom: -40%;
}
.images .img2 {
  background-image: url(Phone\ Wallpaper\ 2.png);
  margin-bottom: -20%;
  margin-right: -5%;
  margin-left: -5%;
}
.images .img3 {
  background-image: url(Vans-ok.png);
  margin-bottom: -30%;
  transform: rotate3d("10deg");
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1%;
}

main .section2 {
  width: 100%;
  justify-content: center;
  background-color: rgb(178, 190, 181, 0.3);
  border-radius: 50px;
  /* margin: 0 1%; */
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3.6% 0 3% 0;
}

main .section2 p {
  font-size: 40px;
  font-weight: 800;
  width: 78%;
  text-align: center;
}

.lets{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 211, 0);
  box-shadow: 0px 0px 6px 3px  rgb(0, 56, 0, 0.1);
  color: white;
  font-size: 18px;
  border-radius: 30px;
  padding: 10px 30px;
  margin-top: 6%;
  font-weight: 800;
  transition: 300ms;
  width: fit-content;
}

.lets i {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 900;
}

.lets:hover{
  background-color: #1f1f1f70;
  width: fit-content;
}

main .section3 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

main .section3 .box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 5% 0; */
  flex-wrap: wrap;
  margin-top: 4%;
}

main .section3 .box .sp{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
  /* border: solid; */
  width: fit-content;
}

main .section3 .box .sp .image {
  padding: 0 60px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 31, 31, 0.9);
  background-color: ;
  border-radius: 30px;
  overflow: hidden;
}

main .section3 .box .sp .image .images {
  margin-bottom: -50%;
  width: 260px;
}


main .section3 .box .sp2 {
  /* width: 40%; */
  margin: 0 5%;
  width: 460px;
  /* border: solid; */
}

main .section3 .box .sp2 .big{
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 20px;
  /* border: solid; */
  width: fit-content;
}

main .section3 .box .sp2 .b2{
  font-size: 20px;
  /* width: 60%; */
  /* border: solid; */
  width: 100%;
  margin-bottom: 30px;
  word-spacing: 1px;
}

main .section3 .box .sp2 .lets{
  font-size: 20px;
  width: fit-content;
  background-color: #1f1f1f;
}

/* main .section3 .box2 .sp1{order: 1;}

main .section3 .box2 .sp2{order: 2;} */

main .section4{
  width: 98%; display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* height: 40vh; */
  margin: 0 auto;
  background-color: rgb(31, 31, 31, 0.9);
  border-radius: 30px;
  margin-top: 7.5%;
  padding: 4% 0;
}

main .section4 .bg{
  font-size: 46px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

main .section4 .bg2{
  font-size: 22px;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 16px;
  text-align: center;
}

main .section4 .sp{
  width: 100%;
  display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
  height: fit-content;
  /* margin-top: 7%; */
}


main .section4 .sp .steps{
  width: 330px;
  height: 220px;
  background-color: white;
  border-radius: 45px;
  margin: 0 20px;
  display: flex;flex-direction: column; justify-content: flex-start; align-items: flex-start;
  padding: 25px 2%;
  margin-top: 7%;
}

main .section4 .sp .steps .num{
  padding: 5px 15px;
  background-color: #1f1f1f;
  color: white;
  font-size: 20px;
  border-radius: 100%;
  font-weight: 800;
}

main .section4 .sp .steps .big{
  font-size: 34px;
  color: #1f1f1f;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin-top: 15px;
}

main .section4 .sp .steps .text{
  font-size: 20px;
  color: #1f1f1f;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin-top: 5px;
}

main .section5{
  display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;
  border-radius: 45px;
  background-color: rgb(178, 190, 181, 0.3);
  padding: 3% 0;
  width: 100%;
  margin: 0 auto;
  margin-top: 3%;

}

main .section5 .big{
  font-size: 44px;
  font-weight: 800;
  margin-left: 3%;
}

main .section5 .main{
  width: 100%;
  margin-top: 3%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;
}

main .section5 .main .g{
  display: flex; justify-content: space-between; align-items: center;
  padding: 0 3%;
  width: 100%;
}

main .section5 .main .g p{
  font-size: 28px;
  font-weight: 600;
  text-decoration: underline;
}


main .section5 .main .g a{
  font-size: 20px; display: flex; justify-content: center; align-items: center;
  font-weight: 600;
  text-decoration: none;
  margin-left: auto;
  color: #1f1f1f;
}

main .section5 .main .g a i{
  font-size: 16px;  font-weight: 600;
  padding: 13px;
  border-radius: 100%;
  background-color: rgba(233, 178, 38, 0.1);
  margin-left: 15px;
}



main .section5 .main .content{
  width: 100%;
  height: fit-content;
  overflow:scroll;
  padding-left: 40px;
  margin: 0 auto;
  margin-top: 30px;
}
main .section5 .main .content::-webkit-scrollbar{
  display: none;
}

main .section5 .main .content .flex{
  display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-start;
  padding-left: 0%;
  width: fit-content;
}




main .section5 .main .content .flex .im{
  width: 300px;
  height: 250px;
  margin-right: 30px;
  display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;
}



main .section5 .main .content .flex .im span{
 width: 100%;
 height: 80%;
  background-image: url(screenshot3.png);
  background-size: cover;
  background-position: center;
  background-color: rgb(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  border-radius: 10px;
}

main .section5 .main .content .flex .im .mn{
  font-size: 20px;
  color: #1f1f1f;
  font-weight: 600;
  margin-top: 10px;
}

main .section5 .main .content .flex .im .mn1{
  font-size: 14px;
  color: #1f1f1f;
  font-weight: 500;
  margin-top: 2px;
}

main .section5 .main .content .flex .im .mn2{
  font-size: 14px;
  color: #1f1f1f;
  font-weight: 400;
  margin-top: 13px;
  padding: 8px 15px;
  border-radius: 30px;
  background-color: rgb(0, 128, 0, 0.1);
}

footer{
  width: 100%;
  margin: 0 auto;
  height: fit-content;
  padding: 4% 5% 1% 5%;
  margin-top: 3%;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  background-color: #1f1f1f;
  display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;
}



footer .big{
  letter-spacing: 4px;
  font-weight: 800;
  font-size: 32px;
  color: white;
  font-family: "inter", sans-serif;
  /* line-height: 40px; */
  margin-bottom: 5px;
}

footer .big2{
  font-size: 22px;
  color: rgb(255, 255, 255, 0.4);
  font-weight: 800;
  letter-spacing: 1px;
}

footer .bg{
  transition: 250ms;
}

footer .bg:hover{
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 5px;
}

footer .main{
  width: 100%;
  display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: center;  justify-content: space-between;
  /* margin-top: 5%; */
}

footer .main span{
  width: fit-content;
  color: white; display: flex; flex-direction: column;
  margin-top: 3%;
 
}

footer .main span .title{
  font-size: 20px;
  color: white;
  margin-bottom: 15px;
  font-weight: 700;
}

footer .main span .go{
  font-size: 16px;
  color: rgb(255, 255, 255, 0.4);
  margin-bottom: 5px;
  transition: 200ms;
}

footer .main span .go:hover{
  color: rgb(255, 255, 255, 0.8);
}

footer .foot{
  width: 100%;
  display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;
  margin-top: 5%;
  color: white;
}

footer .foot span{
  display: flex; justify-content: space-between; align-items: center;
}

footer .foot span a{
  /* padding: 10px; */
  color: white;
  /* border-radius: 100%; */
  margin-left: 15px;
  /* border: solid 2px; */
}


footer .foot span a i{
  font-size: 16px;
  padding: 12px;
  border-radius: 100%;
  border: solid 2px;
}



@media screen and (max-width: 1100px) {
  nav .logo {
    font-size: 28px;
  }

  nav {
    padding: 30px 3% 30px 4%;
  }

  header .section1 h3 {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  nav .logo {
    font-size: 28px;
    letter-spacing: 1px;
  }

  nav {
    padding: 30px 3% 30px 4%;
  }

  nav .connect span {
    display: none;
  }

  nav .sp1 {
    padding: 10px 10px;
  }

  header .section1 h3 {
    width: 75%;
  }
}

@media screen and (max-width: 950px) {
  nav .sp1 .ss {
    display: none;
  }

  nav .sp1 .n {
    display: flex;
  }

  header .section1 h1 {
    font-size: 48px;
    letter-spacing: 2px;
  }
  header .section1 h3 {
    font-size: 18px;
    width: 75%;
  }

  main .section3 .box .sp {
    width: 100%;
    margin-bottom: 20px;
    margin-left: auto; margin-right: auto;
  }

  main .section3 .box .sp .image {
    padding: 0 60px;
    height: 430px;
    width: 90%;
  }
  
  main .section3 .box .sp .image .images {
    margin-bottom: -50%;
    width: 255px;
  }

  main .section3 .box .sp2 {
    width: 90%;
    margin-top: 15px;
  }

  main .section3 .box .sp2 .b2{
    font-size: 20px;
    width: 100%;
  }
  main .section3 .box2 .sp1{order: 1;}

main .section3 .box2 .sp2{order: 2;}
}

@media screen and (max-width: 800px) {
  nav {
    padding: 30px 6%;
  }

  nav .sp1 {
    display: none;
  }

  nav .connect {
    background-color: rgb(0, 211, 0);
    padding: 6px 15px;
    text-transform: capitalize;
  }

  nav .i {
    color: white;
    font-size: 20px;
    display: flex;
    margin-left: 25px;
  }

  header .section1 {
    padding: 8% 0 0 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  header .section1 h1 {
    font-size: 44px;
    letter-spacing: 2px;
  }

  header .section1 h3 {
    width: 85%;
    line-height: 26px;
    margin-top: 18px;
  }

  header .section1 a {
    padding: 12px 35px;
    font-size: 18px;
    margin-top: 12%;
    /* width: 85%; */
    background-color: rgb(1, 192, 1);
    box-shadow: 0px 0px 2px 2px rgba(0, 128, 0, 0.432);
  }

  main .section2 p {
    font-size: 32px;
    width: 86%;
  }

  main .section4 .bg{
    font-size: 44px;
    width: 85%;
  }
  
  main .section4 .bg2{
    font-size: 20px;
    width: 80%;
  }
  
  main .section4 .sp{
    width: 100%;
    display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: center;
    flex-direction: column;
  }
  
  main .section4 .sp .steps{
    width: 80%;
    height: 220px;
    background-color: white;
    border-radius: 45px;
    margin: 0 14px;
    display: flex;flex-direction: column; justify-content: flex-start; align-items: flex-start;
    padding: 20px 20px;
    margin-top: 7%;
  }
  
  main .section5 .big{
    margin-left: 5%;
  }

  main .section5 .main{
    margin-top: 6%; 
  }
  
  
  main .section5 .main .g{
    padding: 0 5%;
  }
}

@media screen and (max-width: 650px) {
  nav {
    padding: 0 5%;
    height: 85px;
  }

  nav .logo {
    font-size: 22px;
    letter-spacing: 3px;
  }

  nav .connect {
    display: none;
  }

  nav .i {
    color: white;
    display: flex;
    margin-left: 0px;
    padding: 10px;
    background-color: rgb(1, 192, 1);
    box-shadow: 0px 0px 2px 2px rgba(0, 128, 0, 0.432);
    border-radius: 100%;
  }
  nav .i i {
    font-size: 18px;
  }

  nav .x{
    display: none;
  }

  header .section1 h1 {
    font-size: 32px;
  }

  header .section1 h3 {
    font-size: 16px;
    width: 95%;
    font-weight: 500;
  }

  .images .img {
    width: 300px;
    height: 400px;
  }

  .images .img1 {
    margin-bottom: -30%;
  }
  .images .img2 {
    margin-bottom: -15%;
    margin-right: -10%;
    margin-left: -10%;
  }
  .images .img3 {
    margin-bottom: -25%;
    transform: rotate3d("10deg");
  }

  header .section1 a {
    width: 85%;
  }

  main .section2 {
    margin-top: 30px;
    padding: 10% 0 9% 0;
  }

  main .section2 p {
    font-size: 26px;
    width: 90%;
    line-height: 37px;
  }

  .lets {
    margin-top: 12%;
  }

  main .section3 .box {
    margin-top: 10%;
  }

  main .section3 .box .sp {
    width: 100%;
    margin-bottom: 20px;
    margin-left: auto; margin-right: auto;
  }

  main .section3 .box .sp .image {
    padding: 0 60px;
    height: 430px;
    width: 95%;
  }
  
  main .section3 .box .sp .image .images {
    margin-bottom: -15%;
    width: 230px;
  }

  main .section3 .box .sp2 {
    width: 93%;
    margin-top: 5px;
    margin-bottom: 15%;
  }

  main .section3 .box .sp2 .big{
    font-size: 34px;
    font-weight: 900;
    word-spacing: 3px;
  }
  
  main .section3 .box .sp2 .b2{
    font-size: 20px;
    margin-bottom: 35px;
    font-weight: 500;
    line-height: 34px;
  }
  
  main .section3 .box .sp2 .lets{
    width: 98%;
    margin: 0 auto;
    margin-top: 20px;
  }

  main .section4 .bg{
    font-size: 36px;
    width: 85%;
    margin-top: 20px;
  }
  
  main .section4 .bg2{
    font-size: 20px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  main .section4 .sp{
    margin-top: 5%;
    margin-bottom: 15%;
  }
  
  main .section4 .sp .steps{
    width: 90%;
    height: 220px;
    background-color: white;
    border-radius: 45px;
    margin: 0 14px;
    display: flex;flex-direction: column; justify-content: flex-start; align-items: flex-start;
    padding: 20px 20px;
    margin-top: 9%;
    overflow: hidden;
  }

  main .section5{
    padding: 6% 0;
    margin-top: 4.5%;
    padding-bottom: 15%;
  }

  main .section5 .big{
    font-size: 38px;
    margin-left: 5%;
    text-align: center;
  }

  main .section5 .main .g{
    padding: 0 5%;
    margin-top: 5%;
  }

  main .section5 .main .g p{
    font-size: 22px;
  }
  

  main .section5 .main .g a span{
    display: none;
  }
  
  main .section5 .main .content{
    width: 100%;
    height: fit-content;
    overflow:scroll;
    padding-left: 5%;
    margin: 0 auto;
    margin-top: 30px;
  }

  main .section5 .main .content .flex .im{
    width: 260px;
    height: 250px;
    margin-right: 30px;
    display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;
  }
  
  footer{
    width: 100%;
    padding: 12% 5% 5% 5%;
    margin-top: 3%;
  }
  
  footer .big{
    letter-spacing: 4px;
    font-weight: 800;
    font-size: 26px;
    margin-bottom: 10px;
  }

  footer .big2{
    font-size: 18px;
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
  }
  

  
  footer .main{
    margin-top: 5%;
  }
  
  footer .main span{
    margin-top: 6%;
  }

  footer .foot{
    width: 100%;
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
    margin-top: 8%;
    color: white;
  }
  
  footer .foot .cc{
    order: 2;
  }
  

  footer .foot span{
    margin-bottom: 20px;
    width: 100%;
    display: flex; justify-content: center;
  }
  
  footer .foot span a{
    margin-left: 15px;
  }
  
  footer .foot span a i{
    font-size: 16px;
    padding: 12px;
    border: solid 2px;
  }

}

@media screen and (max-width: 300px) {
  header .section1 h1 {
    font-size: 26px;
    letter-spacing: 1px;
  }
  header .section1 h3 {
    font-size: 13px;
    letter-spacing: 1px;
    width: 90%;
  }

  main .section3 .box .sp .image .images {
    margin-bottom: -15%;
    width: 200px;
  }

  .lets{width: 90%; margin: 0 auto;}

  main .section4 .sp .steps{
    padding: 16px 10px;
  }

  main .section4 .sp .steps .big{
    font-size: 28px;
    color: #1f1f1f;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-top: 15px;
  }
  
  main .section4 .sp .steps .text{
    font-size: 16px;
    color: #1f1f1f;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-top: 5px;
  }
}
