* {
  font-family: "DM sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

nav {
  width: 100%;
  padding: 35px 5% 30px 5%;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
}

nav .logo {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 3.5px;
  font-family: 'inter', sans-serif;
  padding: 5px 5px;
  transition: 300ms;
}

nav .logo:hover{
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 5px;
}

nav .sp1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(143, 143, 143, 0.1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  overflow: hidden;
  padding: 10px 15px;
  margin-left: auto;
}

nav .sp1 a {
  color: white;
  text-transform: capitalize;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 230ms;
  border-radius: 30px;
  margin: 0 6px;
  white-space: nowrap;
}

nav .sp1 a:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

nav .sp1 .active{
  background-color: #ffff;
  background-color: rgb(0, 211, 0);
  color: #ffff;
  font-size: 16px;
  letter-spacing: 0.6px;
  margin: 0 15px;
  box-shadow: 0 0 8px 0 green;
  padding: 6px 14px;
}

nav .sp1 .active:hover{
    background-color: rgb(255, 255, 255, 0.96);
    color: black;
}

nav .sp1 .n{display: none;}

nav .connectcc{
  margin-left: auto;
  display: flex; justify-content: space-between; align-items: center;
}

nav .connect{
  background-color: rgb(0, 211, 0);
  padding: 8px 20px;
  color: white;
  font-size: 18px;
  border-radius: 30px;
  font-weight: 500;
  box-shadow: 0px 0px 10px 6px  green;
  /* border: solid white 3px; */
  transition: 250ms;
  white-space: nowrap;
}

nav .connect:hover{
  background-color: rgb(255, 255, 255, 0.96);
  color: black;
  box-shadow: 0px 0px 8px 3px  green;
}

nav .i{display: none; }

header .section1{
  width: 100%;
  /* height: 80vh; */
  background-color: #1f1f1f;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 5% 0 10% 0;
  display: flex; flex-direction: column; justify-content: flex-start; align-items: center;
  margin-top: -5px;
}


header .section1 h1{
  font-size: 58px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

header .section1 h3{
  width: 50%;
  text-align: center;
  color: white;
  margin-top: 15px;
  letter-spacing: 1px;
  line-height: 30px;
}

header .section1 a{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgb(0, 211, 0);
 box-shadow: 0px 0px 8px 6px  rgb(1, 80, 1);
 color: white;
 font-size: 17px;
 border-radius: 30px;
 padding: 12px 25px;
 margin-top: 4%;
 font-weight: 800;
 transition: 300ms;
}

header .section1 a i{
  margin-left: 15px;
  font-size: 16px;
  font-weight: 900;
}

header .section1 a:hover{
  background-color: rgb(255, 255, 255, 0.96);
  color: black;
 box-shadow: 0px 0px 8px 5px rgb(255, 255, 255, 0.1);
}

@media screen and (max-width: 1100px) {
  nav .logo{font-size: 28px;}

  nav{
    padding: 30px 3% 30px 4%;
  }

  header .section1 h3{
    width: 70%;
  }
}


@media screen and (max-width: 1000px) {
  nav .logo{
    font-size: 28px;
    letter-spacing: 1px;
  }

  nav{
    padding: 30px 3% 30px 4%;
  }

  nav .connect span{display: none;}

  nav .sp1 {
    padding: 10px 10px;
  }
  
  header .section1 h3{
    width: 75%;
  }
}


@media screen and (max-width: 900px) {
  nav .sp1 .ss{
    display: none;
  }

  nav .sp1 .n{display: flex;}

  header .section1 h1{
    font-size: 48px;
    letter-spacing: 2px;
  }
  header .section1 h3{
    font-size: 18px;
    width: 75%;
  }
}

@media screen and (max-width: 800px) {
  nav{
    padding: 30px 6%;
  }

  nav .sp1{
    display: none;
  }

  nav .connect{
    background-color: rgb(0, 211, 0);
    padding: 6px 15px;
    text-transform: capitalize;
  }

  nav .i{
    color: white;
    font-size: 20px;
    display: flex;
    margin-left: 25px;
  }

  header .section1 h3{
    width: 85%;
  }




header .section1{
  padding: 6% 0 20% 0;
}

header .section1 h1{
  font-size: 32px;
  letter-spacing: 2px;
}
header .section1 a{
  padding: 12px 25px;
  font-size: 18px;
  margin-top: 12%;
  width: 85%;
 }
}

@media screen and (max-width: 650px) {
  nav{
    padding: 0 5%;
    height: 85px;
  }

  nav .logo{
    font-size: 22px;
    letter-spacing: 3px;
  }

  nav .connect{
    display: none;
  }

  nav .i{
    color: white;
    display: flex;
    margin-left: 0px;
    padding: 8px;
    background-color: rgb(0, 211, 0);
  box-shadow: 0px 0px 4px 3px  green;
    border-radius: 100%;
  }
  nav .i i{
    font-size: 18px;
  }

  header .section1 h3{
    font-size: 16px;
    width: 90%;
    font-weight: 500;
  }
  
/* 
  header .section1{
    padding: 6% 0 30% 0;
  }

  header .section1 h1{
    font-size: 32px;
    letter-spacing: 2px;
  }
  header .section1 h3{
    font-size: 16px;
    width: 90%;
    font-weight: 500;
  }

  header .section1 a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 211, 0);
    box-shadow: 0px 0px 8px 6px  rgb(1, 80, 1);
    color: white;
    font-size: 17px;
    border-radius: 30px;
    padding: 12px 25px;
    margin-top: 4%;
    font-weight: 800;
    transition: 300ms;
   } */

}

