* {
  font-family: "DM sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

nav {
  width: 100%;
  padding: 20px 5% 20px 6%;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
}

nav .logo {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 3.5px;
  font-family: 'inter', sans-serif;
}

nav .sp1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(143, 143, 143, 0.1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  overflow: hidden;
  padding: 10px 15px;
  margin-left: auto;
}

nav .sp1 a {
  color: white;
  text-transform: capitalize;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 230ms;
  border-radius: 30px;
  margin: 0 6px;
  white-space: nowrap;
}

nav .sp1 a:hover {
  background-color: rgb(255, 255, 255, 0.08);
}

nav .sp1 .active{
  background-color: #ffff;
  background-color: rgb(0, 211, 0);
  color: #ffff;
  font-size: 16px;
  letter-spacing: 0.6px;
  margin: 0 15px;
  box-shadow: 0 0 8px 0 green;
  padding: 6px 14px;
}

nav .sp1 .active:hover{
    background-color: rgb(255, 255, 255, 0.96);
    color: black;
}

nav .sp1 .n{display: none;}

nav .connectcc{
  margin-left: auto;
  display: flex; justify-content: space-between; align-items: center;
}

nav .connect{
  background-color: rgb(0, 211, 0);
  padding: 8px 20px;
  color: white;
  font-size: 18px;
  border-radius: 30px;
  font-weight: 500;
  box-shadow: 0px 0px 4px 3px  green;
  /* border: solid white 3px; */
  transition: 250ms;
  white-space: nowrap;
}

nav .connect:hover{
  background-color: rgb(255, 255, 255, 0.96);
  color: black;
  box-shadow: 0px 0px 8px 3px  green;
}

nav .i{display: none; }

@media screen and (max-width: 1100px) {
  nav .logo{font-size: 28px;}

  nav{
    padding: 20px 3% 20px 4%;
  }
}


@media screen and (max-width: 1000px) {
  nav .logo{
    font-size: 28px;
    letter-spacing: 1px;
  }

  nav{
    padding: 20px 3% 20px 4%;
  }

  nav .connect span{display: none;}

  nav .sp1 {
    padding: 10px 10px;
  }
  
  
}


@media screen and (max-width: 900px) {
  nav .sp1 .ss{
    display: none;
  }

  nav .sp1 .n{display: flex;}
}

@media screen and (max-width: 800px) {
  nav{
    padding: 20px 6%;
  }

  nav .sp1{
    display: none;
  }

  nav .connect{
    background-color: rgb(0, 211, 0);
    padding: 6px 15px;
    text-transform: capitalize;
  }

  nav .i{
    color: white;
    font-size: 20px;
    display: flex;
    margin-left: 25px;
  }

}

@media screen and (max-width: 650px) {
  nav{
    padding: 0 6%;
    height: 70px;
  }

  nav .logo{
    font-size: 25px;
    letter-spacing: 3px;
  }

  nav .connect{
    display: none;
  }

  nav .i{
    color: white;
    display: flex;
    margin-left: 0px;
    padding: 8px;
    background-color: rgb(0, 211, 0);
  box-shadow: 0px 0px 4px 3px  green;
    border-radius: 100%;
  }
  nav .i i{
    font-size: 18px;
  }

}

