nav{
  padding: 28px 5% 22px 5%;
}

.sectiona{
    width: 100%;
    display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;
    margin-top: 1.5%;
    padding: 0 6%;
}

.sectiona .head{
    width: 100%;
    padding: 4%;
    display: flex; align-items: center; justify-content: center;
    background-color: rgba(31, 31, 31, 0.25);
    background-blend-mode: overlay;
    border-radius: 20px;
    background-image: url(milad-fakurian-PGdW_bHDbpI-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.sectiona .head h1{
    font-size: 70px;
    color: white;
    /* color: #1f1f1f; */
    letter-spacing:1px;
    font-weight: 800;
}

.sectiona h3{
    margin-top: 10px;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1.5px;
}


.sectionb{
    width: 88%;
    display: flex; flex-direction: column; justify-content: flex-start; align-items: center;
    margin: 0 auto;
        margin-top: 4%;
}

.sectionb .nav{
    width: 100%;
    display: flex;
}

.sectionb .nav .flex{
    width: 100%;
    display: flex; justify-content: flex-start; align-items: center;
    overflow: scroll;
    border-bottom: solid 1px silver;
    padding-bottom: 15px;
}

.sectionb .nav .flex::-webkit-scrollbar{
    display: none;
}

.sectionb .nav .flex a{
    padding: 10px 15px;
    background-color: rgb(255, 255, 255, 0.1);
    background-color: rgb(233, 230, 230, 0.3);
    border-radius: 30px;
    color: #1f1f1fd0;
    font-size: 16px;
    font-weight: 600; 
    margin-right: 15px;
    border: solid 1px rgb(95, 95, 95);
    white-space: nowrap;
    transition: 250ms;
}

.sectionb .nav .flex a:hover{
    background-color: rgba(197, 197, 197, 0.2);
    /* background-color: rgb(255, 255, 255, 0.1); */
    color: #1f1f1fd0;
    border: solid 1px rgb(145, 145, 145);
}


.sectionb .items{
    display: flex; flex-direction: column; justify-content: flex-start; align-items: center;
    width: 100%; 
    margin-top: 3%;
}

.sectionb .items .head{
    display: flex;justify-content: flex-start; align-items: center;
    width: 100%; 
    border-radius: 19px;
    background-image: url(clothing.jpg);
    padding: 2% 40px;
    background-position: center;
    background-size: cover;
    background-color: rgba(31, 31, 31, 0.8);
    background-blend-mode: overlay;
}

.sectionb .items .head h3{
    color: white;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 1px;   
}






@media screen and (max-width: 800px){
    .sectiona{
        margin-top: 1.5%;
        padding: 0 0.2%;
    }

    .sectiona .head{
        width: 100%;
        padding: 13% 3%;
        background-color: rgba(31, 31, 31, 0.2);
        border-radius: 5px;
    }
    .sectiona .head h1{
        font-size: 38px;
        letter-spacing: 1px;
        font-weight: 800;
    }    

    .sectiona h3{
        margin-top: 10px;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .sectionb{
        width: 100%;
        display: flex; flex-direction: column; justify-content: flex-start; align-items: center;
        margin: 0 auto;
            margin-top: 8%;
    }

    .sectionb .nav .flex a{
        padding: 10px 15px;
        background-color: rgb(255, 255, 255, 0.1);
        background-color: rgb(233, 230, 230, 0.3);
        border-radius: 30px;
        color: #1f1f1fd0;
        font-size: 14px;
        font-weight: 600; 
        margin-right: 0;
        margin-left: 3%;
        border: solid 1px rgb(95, 95, 95);
        white-space: nowrap;
        transition: 250ms;
    }

    
.sectionb .items .head{
    display: flex;justify-content: flex-start; align-items: center;
    width: 100%; 
    border-radius: 13px;
    background-image: url(clothing.jpg);
    padding: 4% 5%;
    background-position: center;
    background-size: cover;
    background-color: rgba(31, 31, 31, 0.8);
    background-blend-mode: overlay;
}

    
    .sectionb .items .head h3{
        color: white;
        font-size: 32px;

    }
    
    
    
    
}