.ch{
   
    text-decoration: line-through;
     text-decoration-style: double;
}

header{
    position: relative;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    height: fit-content;
    width: 100%;
    display: flex; 
    overflow: hidden;
}

header .sp1{
    height: 100%; width: 100%;
    background-color: #1f1f1f;
    position: absolute; display: flex; justify-content: right; align-items: center;
    padding: 10% 5%;
}

header .ss{
    width: 100%;
    padding: 1.5% 0 4% 0;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    /* background-color: #1f1f1f; */
    /* border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%; */
    position: relative;
}

header h1{
    font-size: 54px;
    color: white;
    letter-spacing: 1px;
}

header h4{
    font-size: 26px;
    color: white;
    font-weight: 400;
    margin-top: 10px;
    width: 40%;
    text-align: center;
}

header .sp1 .wame{
    background-image: url(graphic-design.png); width: 230px; height: 230px; background-size: cover; background-position: center;
}

main .sectionc {
    width: 100%;
    display: flex; align-items: flex-start; justify-content: space-between;
    /* border: solid; */
    padding: 0 4.2%; 
    flex-wrap: wrap;
}


main .sectionc .cards{
    width: 350px;
    height: 550px;
    margin: 0% 0;
    /* background-color: #1f1f1f; */
    border-radius: 10px;
    box-shadow: 0 3px 12px rgb(72 73 73 / 20%);
     display: flex; flex-direction: column; align-items: center;  justify-content: flex-start;
     padding: 0% 0; overflow: hidden;
     background-color: white;
    transition: 200ms;
    margin: 4% 0%;
}


main .sectionc .cards:hover{
    box-shadow: 0 3px 35px rgb(72 73 73 / 20%);
     background-color: white;
}


/* main .sectionc .card1{
    width: 28%;
    margin-top: 10%;
}


main .sectionc .card3{
    width: 28%;
    margin-top: 10%;
} */
/* main .sectionc .card2{
    margin-left: auto;
    margin-right: auto;
} */

main .sectionc .cards .t{
    width: 100%;
    height: 3%;
}

.c1{
    background-color: #F45D48;
}
.c2{
    background-color: #0096FF;
}
.c3{
    background-color: #2c2e2f;;
}

main .sectionc .cards .title{
    color: #2c2e2f;
    font-size: 30px;
    letter-spacing: 0.1px;
    font-weight: 800;
    margin-top: 14%;
}

main .sectionc .cards .price-div{
    display: flex; justify-content: center; align-items: flex-end; 
    margin: 20px 0 10px 0;
}

main .sectionc .cards .price-div .price{
    color: rgb(44, 46, 47, 0.9); 
    font-size: 46px;
    font-weight: 700;
    /* word-spacing: -2px; */
    /* font-family: 'poppins', sans-serif; */
    letter-spacing: 1px;
}

main .sectionc .cards .price-div .sesh{
    color: rgb(44, 46, 47, 0.9); 
    font-size: 22px;
    font-weight: 700;
    /* word-spacing: -2px; */
    /* font-family: 'poppins', sans-serif; */
    letter-spacing: 1px;
    line-height: 52px;
    margin-left: 5px;
}

main .sectionc .cards .ot{
    color: #2c2e2f;
    color: rgb(44, 46, 47, 0.9); 

    font-size: 18px;
    letter-spacing: 0.1px;
    font-weight: 300;
    text-align: center;

}

main .sectionc .cards .paynow{
    margin-top: 25px;
    padding: 15px 0px;
    border-radius: 5px;
    background-color: #F45D48;
    font-size: 18px;
    font-weight: 900;
    color: white;
    width: 74%; text-align: center;
}


@media screen and (max-width: 1350px){
    
    main .sectionc {
        padding: 0 5.5%; 
        flex-wrap: wrap;
    }

    main .sectionc .card3{
        margin-left: auto; margin-right: auto;
    }
}

@media screen and (max-width: 800px){
    header{
        width: 100%;
        padding: 6% 0 15% 0;
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        background-color: #1f1f1f;
        border-bottom-left-radius: 45px;
        border-bottom-right-radius: 45px;
    }

    header h1{
        font-size: 38px;
        color: white;
        letter-spacing: 1px;
    }

    header h4{
        font-size: 24px;
        margin-top: 10px;
        width: 90%;
        text-align: center;
    }
    header .sp1{
        position: absolute; 
        display: flex; justify-content: left; align-items: center;
        padding: 10%;
    }
    
    header .ss{
        width: 100%;
        padding: 1.5% 0 2% 0;
    }

    header .sp1 .wame{
        display: none;
    }
    main .sectionc .cards{
        margin-left: auto; margin-right: auto;
        margin-top: 10%;
    }
}

@media screen and (max-width: 600px){

    header h1{
        font-size: 33px;
        color: white;
        letter-spacing: 1px;
    }

    header h4{
        font-size: 20px;
        margin-top: 10px;
        width: 95%;
        text-align: center;
    }

    main .sectionc .cards .title{
        color: #2c2e2f;
        font-size: 26px;
        letter-spacing: 0.1px;
        font-weight: 800;
        margin-top: 14%;
    }

    main .sectionc .cards{
        margin-top: 10%;
        width: 100%;
        height: 530px;
    }

    main .sectionc .cards .price-div .price{
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    
    main .sectionc .cards .price-div .sesh{
        color: rgb(44, 46, 47, 0.9); 
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 52px;
        margin-left: 5px;
    }
    
    main .sectionc .cards .ot{
        font-size: 18px;
        letter-spacing: 0.1px;
        font-weight: 300;
        text-align: center;
    
    }
}